CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_hiwifi_hc5962=y
#CONFIG_PACKAGE_luci-app-aliyundrive-fuse=y
#CONFIG_PACKAGE_luci-app-aliyundrive-webdav=y
#CONFIG_PACKAGE_luci-app-baidupcs-web=y
#CONFIG_PACKAGE_luci-app-diskman=y
#CONFIG_PACKAGE_luci-app-easymesh=y
CONFIG_PACKAGE_luci-app-hd-idle=y
#CONFIG_PACKAGE_luci-app-mtwifi=y
CONFIG_PACKAGE_luci-app-mwan3=y
#CONFIG_PACKAGE_luci-app-mwan3helper=y
#CONFIG_PACKAGE_luci-app-qbittorrent=y
#CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-samba4=y
#CONFIG_PACKAGE_luci-app-syncdial=y
CONFIG_PACKAGE_luci-app-udpxy=y
